/**
CSS Naming Convention is BEM with namespaces as needed

Namespace: *- 
Block: starts lowercase follows namespace if needed
Element: _*
Modifier: __*
**/
/** Global **/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Bahnschrift", Arial, sans-serif;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

h1,
h3,
h4,
h5,
h6,
p,
button,
label,
.button {
  color: #0b0e0e;
}

h1 {
  font-size: 2.44rem;
  margin-bottom: 0;
  margin-top: 1.953rem;
}

h2 {
  font-size: 1.953rem;
  font-weight: normal;
  margin-top: 0;
  margin-top: 1.56rem;
  margin-bottom: 0.8rem;
}

h1,
h2 {
  text-align: center;
}

h3,
h4,
h5,
h6 {
  font-size: 1.56rem;
  margin: 1.953rem auto 1rem auto;
  margin-top: 1.56rem;
  margin-bottom: 0.8rem;
}

label {
  font-size: 1.25rem;
}

input:focus,
textarea:focus {
  outline: 2px solid #ee7e12;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  outline: 2px solid #cc0000;
}

span,
ul li,
h2,
input {
  color: #2c2b3d;
}

p,
span,
ul li,
button,
.button,
input,
textarea,
a {
  font-size: 1rem;
}

input,
textarea {
  min-height: 1.953rem;
  border: 1px solid #cccccc;
}

button,
.button,
input[type=submit] {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  outline: 1px solid #ee7e12;
}

button:focus,
.button:focus,
input[type=submit]:focus {
  transform: scale(1.05);
}

@media only screen and (min-width: 1200px) {
  /** Global **/
  h1 {
    font-size: 3.052rem;
    margin-top: 2.44rem;
  }
  h2 {
    font-size: 2.44rem;
    margin-top: 1.953rem;
    margin-bottom: 1rem;
  }
  h3,
h4,
h5,
h6 {
    font-size: 1.953rem;
    margin: 2.44rem auto 1.25rem auto;
    margin-top: 1.953rem;
    margin-bottom: 1rem;
  }
  label {
    font-size: 1.56rem;
  }
  p,
span,
ul li,
button,
.button,
input,
textarea,
a {
    font-size: 1.25rem;
  }
  input,
textarea {
    min-height: 2.44rem;
  }
}
/** Helper Classes **/
.h-flex {
  display: flex;
}
.h-flex.h-flex__column {
  flex-direction: column;
}
.h-flex.h-flex_verticalCenter {
  justify-content: center;
}
.h-flex.h-flex__grow {
  flex-grow: 1;
}

.h-hidden {
  display: none;
}

/** layout classes **/
.l-positionAbsolute {
  position: absolute;
}
.l-positionAbsolute .l-positionAbsolute_centerVerticalPosition {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.l-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(11, 1fr);
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  /** Two column grid **/
}
.l-grid .l-grid_TwoCol1,
.l-grid .l-grid_TwoCol2,
.l-grid .l-grid_ThreeCol1,
.l-grid .l-grid_ThreeCol2,
.l-grid .l-grid_ThreeCol3 {
  grid-column-start: 1;
  grid-column-end: 12;
  -ms-grid-column-span: 12;
}

/** Page Order **/
.heroHeader {
  margin: 0 2rem;
  min-height: calc(100vh - (3vw + 3rem));
}

.resumeRightButton {
  width: 100px;
  display: block;
  margin: 2rem 0.8rem 0 auto;
}

.headshotImage {
  border-radius: 50%;
  margin: 3rem auto 0.8rem auto;
  display: block;
}

.particles-js-canvas-el {
  position: absolute;
  z-index: -1;
}

.particlesToggleButton {
  margin: 0 1rem 4rem auto;
  border-radius: 50%;
  border: none;
}

.accentSectionClipped {
  background-color: #ee7e12;
  padding: 3rem 2rem;
  -webkit-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
  -moz-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
  padding-top: 6vw;
}
.accentSectionClipped .l-grid {
  margin-bottom: 3rem;
}
.accentSectionClipped .robotImage {
  margin: 3rem auto;
  display: block;
}

.accentSectionClipped__overlapSpacing {
  margin-bottom: -6rem;
  padding: inherit 2rem calc(3rem + 6rem) 2rem;
}

.skillsSection {
  margin-bottom: 3rem;
}
.skillsSection .l-grid_ThreeCol1 {
  order: 3;
}
.skillsSection .l-grid_ThreeCol2, .skillsSection .l-grid_ThreeCol3 {
  margin: 1rem 2rem;
}
.skillsSection .skillsSection_skillsImage {
  margin: auto;
  display: block;
}
.skillsSection .skillsSection_skillCard {
  margin: auto;
  max-width: 300px;
  background-color: #fff;
  z-index: 3;
  position: relative;
  border-radius: 15px;
  padding: 1.56rem 1.953rem;
}
.skillsSection .skillsSection_skillCard:nth-child(1) {
  margin-top: 0;
}
.skillsSection .skillsSection_skillCard img {
  margin: auto;
  display: block;
}
.skillsSection .skillsSection_skillCard ul {
  padding-left: 0;
  margin: 0;
}
.skillsSection .skillsSection_skillCard ul li {
  list-style: none;
}

.gitChainBackgroundVertical {
  background: transparent url("../images/github-commit-chain-vertical.svg") repeat-y 60vw 0;
}

.gitChainBackgroundContainer {
  width: 100vw;
}
.gitChainBackgroundContainer .gitChainBackgroundContainer_gitChainBackground {
  transform: rotate(180deg);
  background: transparent url(../images/github-commit-chain.svg) repeat-x 0 28px;
  height: 135px;
  width: calc(60vw + 45px);
}

.projectsSection {
  padding: 2rem;
}
.projectsSection:nth-child(2) {
  margin-bottom: -67px;
}
.projectsSection .projectsSection_contentBackground {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 1rem 0;
}
.projectsSection .projectsSection_contentBackground:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}
.projectsSection .projectSection_button {
  margin: 0 auto;
  display: block;
}
.projectsSection .projectSection_card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  min-height: 150px;
  margin: 1rem 0;
}
.projectsSection .projectSection_card:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}
.projectsSection .projectSection_card img {
  display: block;
  margin: auto;
}

.companiesWorked {
  margin: 3rem 2rem;
}
.companiesWorked .companiesWorked_logos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.myKnowledge {
  margin: 3rem 2rem;
}
.myKnowledge ul {
  padding-left: 0;
}
.myKnowledge ul:nth-child(1) {
  margin-top: 0;
}
.myKnowledge ul li {
  list-style: none;
}
.myKnowledge img {
  margin: 1.56rem auto;
  display: block;
}

.contactMe {
  margin: 1.56rem 2rem 3rem 2rem;
}

footer .footerIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer .footerIcons img {
  margin: 0.8rem auto;
}
footer .footerIcons a:hover,
footer .footerIcons a:focus {
  transform: scale(1.1);
}
footer .footerDark {
  background-color: #2c2b3d;
  text-align: center;
  padding: 3rem 2rem 1rem 2rem;
}
footer .footerDark span {
  display: block;
}
footer .footerDark a {
  display: inline-block;
}
footer .footerDark a,
footer .footerDark a:visited,
footer .footerDark span {
  color: #fff;
  margin-top: 0.8rem;
}
footer .footerDark .footerDark__center {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  /** layout classes **/
  .l-grid {
    /** Three column grid **/
  }
  .l-grid .l-grid_TwoCol1 {
    grid-column-start: 1;
    grid-column-end: 6;
    -ms-grid-column-span: 6;
  }
  .l-grid .l-grid_TwoCol2 {
    grid-column-start: 6;
    grid-column-end: 12;
    -ms-grid-column-span: 6;
  }
  .l-grid .l-grid_ThreeCol1 {
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 4;
  }
  .l-grid .l-grid_ThreeCol2 {
    grid-column-start: 4;
    grid-column-end: 8;
    -ms-grid-column-span: 4;
  }
  .l-grid .l-grid_ThreeCol3 {
    grid-column-start: 8;
    grid-column-end: 12;
    -ms-grid-column-span: 4;
  }
  /** helper **/
  .h-containerWidth {
    max-width: 1600px;
    margin: auto;
  }
  /** Page Order **/
  .heroHeader {
    margin: 0 4rem;
  }
  .resumeRightButton {
    margin: 4rem 1rem 0 auto;
  }
  .headshotImage {
    margin: 3rem auto 1rem auto;
  }
  .accentSectionClipped {
    padding: 3rem 4rem;
    -webkit-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
    -ms-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
    -o-clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 3vw, 100% 0%, 100% 100%, 0 100%);
    padding-top: 6vw;
  }
  .accentSectionClipped__overlapSpacing {
    padding: inherit 4rem calc(3rem + 6rem) 4rem;
  }
  .skillsSection .skillsSection_skillsImage {
    margin-top: 6rem;
    margin-left: calc(20vw - 170px);
  }
  .skillsSection .skillsSection_skillCard {
    margin: 1.25rem 4rem;
    padding: 1.953rem 2.44rem;
  }
  .skillsSection .l-grid_ThreeCol1 {
    order: initial;
  }
  .skillsSection .l-grid_ThreeCol2 .skillsSection_skillCard {
    margin-left: auto;
  }
  .skillsSection .l-grid_ThreeCol3 .skillsSection_skillCard {
    margin-right: auto;
  }
  .gitChainBackgroundVertical {
    background: transparent url("../images/github-commit-chain-vertical.svg") repeat-y 20vw 0;
  }
  .gitChainBackgroundContainer .gitChainBackgroundContainer_gitChainBackground {
    width: calc(20vw + 45px);
  }
  .projectsSection {
    padding: 4rem;
  }
  .projectsSection .projectsSection_contentBackground {
    padding: 1.25rem;
    margin: 1.25rem 0;
  }
  .projectsSection .projectSection_card {
    margin: 1.25rem 0;
  }
  .projectsSection .l-grid {
    column-gap: 2.44rem;
  }
  .companiesWorked {
    margin: 3rem 4rem;
  }
  .myKnowledge {
    margin: 3rem 4rem;
  }
  .myKnowledge img {
    margin: 1.953rem auto;
  }
  .contactMe {
    margin: 1.953rem 4rem 3rem 4rem;
  }
  .sayHelloForm {
    padding: 1.953rem;
  }
  .sayHelloForm label {
    margin-top: 1.953rem;
  }
  .sayHelloForm input[type=submit] {
    margin-top: 1.953rem;
  }
  .sayHelloForm .sayHelloForm_error {
    min-height: 1.25rem;
  }
  footer .footerIcons img {
    margin: 1rem auto;
  }
  footer .footerDark {
    padding: 3rem 4rem 1.25rem 4rem;
  }
  footer .footerDark span {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */