/**
CSS Naming Convention is BEM with namespaces as needed

Namespace: *- 
Block: starts lowercase follows namespace if needed
Element: _*
Modifier: __*
**/
/** Global **/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Bahnschrift", Arial, sans-serif;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

h1,
h3,
h4,
h5,
h6,
button,
label,
.button {
  color: #0b0e0e;
}

h1 {
  font-size: 2.44rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.953rem;
  font-weight: normal;
  margin-top: 0;
}

h1,
h2 {
  text-align: center;
}

h3,
h4,
h5,
h6 {
  font-size: 1.56rem;
}

label {
  font-size: 1.25rem;
}

p,
span,
ul li,
h2 {
  color: #3f3d56ff;
}

p,
span,
ul li,
button,
.button,
a {
  font-size: 1rem;
}

button,
.button {
  background-color: transparent;
  border: 2px solid #ee7e12;
  border-radius: 15px;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-align: center;
  background-color: #f6f6f6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  outline: 1px solid #ee7e12;
}

button:focus,
.button:focus {
  transform: scale(1.05);
}

/** Helper Classes **/
.h-flex {
  display: flex;
}

.h-flex.h-flex__column {
  flex-direction: column;
}

.h-flex.h-flex_verticalCenter {
  justify-content: center;
}

/** layout classes **/
.l-positionAbsolute {
  position: absolute;
}

.l-positionAbsolute .l-positionAbsolute_centerVerticalPosition {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  column-gap: 0;
  /** Two column grid **/
}

.l-grid .l-grid_TwoCol1,
.l-grid .l-grid_TwoCol2,
.l-grid .l-grid_ThreeCol1,
.l-grid .l-grid_ThreeCol2,
.l-grid .l-grid_ThreeCol3 {
  grid-column-start: 1;
  grid-column-end: 12;
  -ms-grid-column-span: 12;
}

.l-grid .l-grid_ThreeCol1 {
  order: 3;
}

/** Page Order **/
.heroHeader {
  min-height: calc( 100vh - (7vw + 3rem));
}

.container {
  margin: 0 1rem;
}

.resumeRightButton {
  width: 100px;
  display: block;
  margin: 1rem 0.8rem 0 auto;
}

.headshotImage {
  border-radius: 50%;
  margin: 3rem auto 0.8rem auto;
  display: block;
}

.accentSectionClipped {
  -moz-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% 100%, 0 100%);
  -ms-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% 100%, 0 100%);
  -o-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% 100%, 0 100%);
  background-color: #ee7e12;
  padding: 3rem 1rem calc(3rem + 6rem) 1rem;
  margin-bottom: -6rem;
}

.accentSectionClipped p {
  color: #0b0e0e;
}

.accentSectionClipped .robotImage {
  margin: 3rem auto;
  display: block;
}

.skillsSection .skillsSection_skillsImage {
  margin: auto;
  display: block;
}

.skillsSection .skillsSection_skillCard {
  background-color: #fff;
  z-index: 3;
  position: relative;
  margin: 1rem 1rem;
  border-radius: 15px;
  padding: 1.56rem 1.953rem;
}

.skillsSection .skillsSection_skillCard:nth-child(1) {
  margin-top: 0;
}

.skillsSection .skillsSection_skillCard img {
  margin: auto;
  display: block;
}

.skillsSection .skillsSection_skillCard h3 {
  margin-top: 1.56rem;
  margin-bottom: 0.8rem;
}

.skillsSection .skillsSection_skillCard ul {
  padding-left: 0;
  margin: 0;
}

.skillsSection .skillsSection_skillCard ul li {
  list-style: none;
}

.gitChainBackgroundVertical {
  background: transparent url("../images/github-commit-chain-vertical.svg") repeat-y 60vw 0;
}

.gitChainBackgroundContainer {
  width: 100vw;
}

.gitChainBackgroundContainer .gitChainBackgroundContainer_gitChainBackground {
  background: transparent url("../images/github-commit-chain.svg") no-repeat -22vw 45px;
  height: 135px;
}

.projectsSection {
  margin: 3rem 1rem;
}

.projectsSection .projectsSection_contentBackground {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1rem;
}

.projectsSection .projectSection_button {
  margin: 3rem auto;
  display: block;
}

.projectsSection .l-grid_TwoCol1.gitChainBackgroundContainer_gitChainBackground {
  order: 2;
}

@media only screen and (min-width: 1200px) {
  .l-grid {
    /** Three column grid **/
  }
  .l-grid .l-grid_TwoCol1 {
    grid-column-start: 1;
    grid-column-end: 6;
    -ms-grid-column-span: 6;
  }
  .l-grid .l-grid_TwoCol2 {
    grid-column-start: 6;
    grid-column-end: 12;
    -ms-grid-column-span: 6;
  }
  .l-grid .l-grid_ThreeCol1 {
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 4;
  }
  .l-grid .l-grid_ThreeCol2 {
    grid-column-start: 4;
    grid-column-end: 8;
    -ms-grid-column-span: 4;
  }
  .l-grid .l-grid_ThreeCol3 {
    grid-column-start: 8;
    grid-column-end: 12;
    -ms-grid-column-span: 4;
  }
}
/*# sourceMappingURL=styles.css.map */