/**
CSS Naming Convention is BEM with namespaces as needed

Namespace: *- 
Block: starts lowercase follows namespace if needed
Element: _*
Modifier: __*
**/
@import "_foundation.scss";

/** Helper Classes **/
.h-flex {
	display: flex;
	&.h-flex__column {
		flex-direction: column;
	}
	&.h-flex_verticalCenter {
		justify-content: center;
	}
	&.h-flex__grow {
		flex-grow: 1;
	}
}
.h-hidden {
	display: none;
}
/** layout classes **/
.l-positionAbsolute {
	position: absolute;
	.l-positionAbsolute_centerVerticalPosition {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
.l-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0
		1fr;
	grid-template-columns: repeat(11, 1fr);
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	/** Two column grid **/
	.l-grid_TwoCol1,
	.l-grid_TwoCol2,
	.l-grid_ThreeCol1,
	.l-grid_ThreeCol2,
	.l-grid_ThreeCol3 {
		grid-column-start: 1;
		grid-column-end: 12;
		-ms-grid-column-span: 12;
	}
}

/** Page Order **/
.heroHeader {
	margin: 0 $containerSpacing;
	min-height: calc(
		100vh - (#{$sectionTopClipPathSpacing} + #{$sectionVerticalSpacing})
	);
}
.resumeRightButton {
	width: 100px;
	display: block;
	margin: $containerSpacing $spacingSix 0 auto;
}
.headshotImage {
	border-radius: 50%;
	margin: $sectionVerticalSpacing auto $spacingSix auto;
	display: block;
}
// class injected by particles js
.particles-js-canvas-el {
	position: absolute;
	z-index: -1;
}
.particlesToggleButton {
	margin: 0 1rem 4rem auto;
	border-radius: 50%;
	border: none;
}
.accentSectionClipped {
	background-color: $accentColor;
	padding: $sectionVerticalSpacing $containerSpacing;
	.l-grid {
		margin-bottom: $sectionVerticalSpacing;
	}
	.robotImage {
		margin: $sectionVerticalSpacing auto;
		display: block;
	}

	@include sectionTopClipPath;
}
.accentSectionClipped__overlapSpacing {
	margin-bottom: -$sectionOverlapSpacing;
	padding: inherit $containerSpacing
		calc(#{$sectionVerticalSpacing} + #{$sectionOverlapSpacing})
		$containerSpacing;
}
.skillsSection {
	margin-bottom: $sectionVerticalSpacing;
	.l-grid_ThreeCol1 {
		order: 3;
	}
	.l-grid_ThreeCol2, .l-grid_ThreeCol3 {
		margin: $spacingFive $containerSpacing;	
	}
	.skillsSection_skillsImage {
		margin: auto;
		display: block;
	}
	.skillsSection_skillCard {
		margin: auto;
		max-width: 300px;
		background-color: $lightBaseColor;
		z-index: 3;
		position: relative;
		border-radius: $borderRadius;
		padding: $spacingThree $spacingTwo;
		&:nth-child(1) {
			margin-top: 0;
		}
		img {
			margin: auto;
			display: block;
		}
		ul {
			padding-left: 0;
			margin: 0;
			li {
				list-style: none;
			}
		}	
	}
}
.gitChainBackgroundVertical {
	background: transparent url("../images/github-commit-chain-vertical.svg")
		repeat-y 60vw 0;
}
.gitChainBackgroundContainer {
	width: 100vw;
	.gitChainBackgroundContainer_gitChainBackground {
		transform: rotate(180deg);
		background: transparent url(../images/github-commit-chain.svg) repeat-x 0
			28px;
		height: 135px;
		width: calc(60vw + 45px);
	}
}

.projectsSection {
	padding: $containerSpacing;
	&:nth-child(2) {
		margin-bottom: -67px;
	}
	.projectsSection_contentBackground {
		@include glassBackground(true);
		padding: $spacingFive;
		margin: $spacingFive 0;
	}
	.projectSection_button {
		margin: 0 auto;
		display: block;
	}
	.projectSection_card {
		@include glassBackground;
		min-height: 150px;
		margin: $spacingFive 0;
		img {
			display: block;
			margin: auto;
		}
	}
}
.companiesWorked {
	margin: $sectionVerticalSpacing $containerSpacing;
	.companiesWorked_logos {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
.myKnowledge {
	margin: $sectionVerticalSpacing $containerSpacing;
	ul {
		&:nth-child(1) {
			margin-top: 0;
		}
		padding-left: 0;
		li {
			list-style: none;
		}
	}
	img {
		margin: $spacingThree auto;
		display: block;
	}
}
.contactMe {
	margin: $spacingThree $containerSpacing $sectionVerticalSpacing
	$containerSpacing;
}
footer {
	.footerIcons {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		img {
			margin: $spacingSix auto;
		}
		a:hover,
		a:focus {
			transform: scale(1.1);
		}
	}
	.footerDark {
		background-color: $secondaryTextColor;
		text-align: center;
		padding: $sectionVerticalSpacing $containerSpacing $spacingFive
			$containerSpacing;
		span {
			display: block;
		}
		a {
			display: inline-block;
		}
		a,
		a:visited,
		span {
			color: $lightBaseColor;
			margin-top: $spacingSix;
		}
		.footerDark__center {
			width: 100%;
			text-align: center;
		}
	}
}
@media only screen and (min-width: $desktopMediaQueryWidth) {
	/** layout classes **/
	.l-grid {
		.l-grid_TwoCol1 {
			grid-column-start: 1;
			grid-column-end: 6;
			-ms-grid-column-span: 6;
		}
		.l-grid_TwoCol2 {
			grid-column-start: 6;
			grid-column-end: 12;
			-ms-grid-column-span: 6;
		}
		/** Three column grid **/
		.l-grid_ThreeCol1 {
			grid-column-start: 1;
			grid-column-end: 4;
			-ms-grid-column-span: 4;
		}
		.l-grid_ThreeCol2 {
			grid-column-start: 4;
			grid-column-end: 8;
			-ms-grid-column-span: 4;
		}
		.l-grid_ThreeCol3 {
			grid-column-start: 8;
			grid-column-end: 12;
			-ms-grid-column-span: 4;
		}
	}
	/** helper **/
	.h-containerWidth {
		max-width: 1600px;
		margin: auto;
	}
	/** Page Order **/
	.heroHeader {
		margin: 0 $containerSpacingDesktop;
	}
	.resumeRightButton {
		margin: $containerSpacingDesktop $spacingSixDesktop 0 auto;
	}
	.headshotImage {
		margin: $sectionVerticalSpacing auto $spacingSixDesktop auto;
	}
	.accentSectionClipped {
		padding: $sectionVerticalSpacing $containerSpacingDesktop;
		@include sectionTopClipPath;
	}
	.accentSectionClipped__overlapSpacing {
		padding: inherit $containerSpacingDesktop
			calc(#{$sectionVerticalSpacing} + #{$sectionOverlapSpacing})
			$containerSpacingDesktop;
	}
	.skillsSection {
		.skillsSection_skillsImage {
			margin-top: $sectionOverlapSpacing;
			margin-left: calc(20vw - 170px);
		}
		.skillsSection_skillCard {
			margin: $spacingFiveDesktop $containerSpacingDesktop;
			padding: $spacingThreeDesktop $spacingTwoDesktop;		
		}
		.l-grid_ThreeCol1 {
			order: initial;
		}
		.l-grid_ThreeCol2 .skillsSection_skillCard {
			margin-left: auto;
		}
		.l-grid_ThreeCol3 .skillsSection_skillCard {
			margin-right: auto;
		}
	}
	.gitChainBackgroundVertical {
		background: transparent url("../images/github-commit-chain-vertical.svg")
			repeat-y 20vw 0;
	}
	.gitChainBackgroundContainer {
		.gitChainBackgroundContainer_gitChainBackground {
			width: calc(20vw + 45px);
		}
	}
	.projectsSection {
		padding: $containerSpacingDesktop;
		.projectsSection_contentBackground {
			padding: $spacingFiveDesktop;
			margin: $spacingFiveDesktop 0;
		}
		.projectSection_card {
			margin: $spacingFiveDesktop 0;
		}	
		.l-grid {
			column-gap: $spacingOne;
		}	
	}
	.companiesWorked {
		margin: $sectionVerticalSpacing $containerSpacingDesktop;
	}
	.myKnowledge {
		margin: $sectionVerticalSpacing $containerSpacingDesktop;
		img {
			margin: $spacingThreeDesktop auto;
		}
	}
	.contactMe {
		margin: $spacingThreeDesktop $containerSpacingDesktop $sectionVerticalSpacing
		$containerSpacingDesktop;
	}
	.sayHelloForm {
		padding: $spacingThreeDesktop;
		label {
			margin-top: $spacingThreeDesktop;
		}
		input[type="submit"] {
			margin-top: $spacingThreeDesktop;
		}
		.sayHelloForm_error {
			min-height: $fontFiveDesktop;
		}
	}
	footer {
		.footerIcons {
			img {
				margin: $spacingSixDesktop auto;
			}
		}
		.footerDark {
			padding: $sectionVerticalSpacing $containerSpacingDesktop $spacingFiveDesktop
				$containerSpacingDesktop;
			span {
				margin-top: $spacingSixDesktop;
			}
		}
	}	
}

